.cart-products{
    flex-grow: 1;
    .cart-product{
        padding: 20px 15px;
        display: flex;
        gap: 10px;
        .img-container{
            background-color: rgba(0, 0, 0, 0.05);
            width: 60px;
            height: 60px;
        }
    }
}